.why-choose-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;

    .wcu-img{
        border-radius: 15px;
        // animation: forwards 1s imgAnimate;
    }

    @keyframes imgAnimate {
        0%{
            transform: translateX(-50vw);
        }
        100%{
            transform: translateX(0);
        }
    }

    .wcu-right-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin-left: 30px;
        text-align: left;
        // animation: forwards 1s contentAnimate;

        .wcu-title{
            font-size: xx-large;
            font-weight: bold;
            color: #0A2134;
        }

        .wcu-sub-title{
            font-size: x-large;
            font-weight: bold;
            color: #43505B;
        }

        .wcu-text{
            font-size: medium;
            text-align: left;
        }

        .wcu-btn{
            font-size: 20px;
            color: white;
            background-color: #C12A45;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s;
            padding: 10px 15px;

            &:hover{
                border: #C12A45 solid 1px;
                background-color: white;
                color: #C12A45;
            }
        }
    }

    @keyframes contentAnimate {
        0%{
            transform: translateX(100vw);
        }
        100%{
            transform: translateX(0);
        }
    }
}

// for width < 1440px
@media (max-width : 1440px) {
    .why-choose-us{
        flex-direction: column;

        .wcu-img{
            max-width: 50%;
            border-radius: 15px;
        }cu
        .wcu-right-content{
    
            .wcu-text{
                font-size: large;
                text-align: left;
                line-height: 1.5;
            }


        }
    }
}


// for width < 1040px
@media (max-width : 1040px) {
    .why-choose-us{
        margin-block: 20px 60px;

        .wcu-img{
            display: none;
        }
    
        .wcu-right-content{
            margin-left: 0px !important;
    
            .wcu-text{
                font-size: large;
                text-align: left;
                line-height: 1.5;
            }
        }

    }
}




